@model SampleServer.Models.SampleData


<label>Selected person: @Model.SelectedName</label><br />
<label>Country: 
    <select>
        @foreach (var Country in Model.Countries)
        {
            if (Country.ID == Model.SelectedCountryID)
            {
                <option value="@Country.ID" selected>@Country.CountryName</option>
            }
            else
            {
                <option value="@Country.ID">@Country.CountryName</option>
            }
        }
    </select></label>

